.DS_Store
.Trashes
.settings/*
*.swp
*.lock
*~.nib
DerivedData/
build/
xcuserstate
xcsettings


*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xccheckout


